body {
    display: flex;
    flex-flow: column;
    height: 100%;
    background: black;
}

header {
    flex: 0 1 auto;
}

#main-container {
    flex: 1 1 auto;
}

#project_exec-console {
    height: 100%;
}

.terminal {
    height: 100%;
}

.xterm-viewport {
    overflow-y: auto !important;
}