<meta charset="UTF-8">
<title><%= page.title %> - <%= site.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/static/bundle.js"></script>