<meta charset="UTF-8">
<title><%= page.title %> - <%= site.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/static/js/base.dist.js"></script>
<script src="/static/js/style_loader.dist.js"></script>
<script src="/static/js/utils.dist.js"></script>