<div class="container-fluid" id="loading-container">
    <div class="row mx-3 mt-3">
        <div class="col-12 px-0">
            <div class="progress">
                <div class="progress-bar progress-bar-animated" id="main-loading-bar" role="progressbar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</div>