<html>
    <head>
        <%- include("../default/head.ejs") %>
    </head>
    <body>
        <%- include("../default/flash.ejs") %>
        <%- include("../default/api.ejs") %>
        
        <header>
            <%- include("../default/header.ejs") %>
        </header>
        <div class="container">
            
        </div>
    </body>
</html>
