<html>
	<head>
		<%- include("../default/head.ejs") %>
	</head>
	<body>
		<%- include("../default/flash.ejs") %>
		<div class="container">
			<div class="row justify-content-md-center h-100">
				<div class="col-md-4 my-auto">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title text-center mb-4 mt-1"><%= site.title %></h4>
							<hr>
							<form method="POST" action="/panel/login">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i class="fa fa-user"></i> </span>
										</div>
										<input name="username" class="form-control" placeholder="User" type="text">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
										</div>
										<input class="form-control" type="password" name="password" placeholder="Password" type="password">
									</div>
								</div>
								<% if(sso != undefined) { %>
									<input type="hidden" name="sso" value="<%- sso %>">
								<% } %>
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block">Login</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
