<html>
	<head>
		<%- include("../default/head.ejs") %>
	</head>
	<body>
		<%- include("../default/flash.ejs") %>
        <script>
        const hash = "<%- hash %>";
		</script>
		<%- startPageScript("pwdreset_change") %>

		<div class="container">
			<div class="row justify-content-md-center h-100">
				<div class="col-lg-4 col-md-8 my-auto">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title text-center mb-4 mt-1">Password reset</h4>
							<hr>
							<form onsubmit="return pwdreset_change.confirm();" class="mb-1">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i class="fas fa-lock"></i> </span>
										</div>
										<input required id="input-password" class="form-control load-inputs" placeholder="New password" minlength="8" type="password">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i class="fas fa-key"></i> </span>
										</div>
										<input required id="input-confirm" class="form-control load-inputs" placeholder="Password confirmation" minlength="8" type="password">
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-block load-inputs">Save my new password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
